<p-table #dt1 [value]="myPageList" dataKey="id" [rows]="10" 
	  styleClass="p-datatable-customers p-datatable-gridlines" [loading]="loading"
	 [globalFilterFields]="['id','text']" [scrollable]="true" scrollHeight="700px" [virtualScroll]="true" [virtualScrollItemSize]="46"
	>
	<ng-template pTemplate="caption">
		<div class="p-d-flex">
			<span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Filtra por ID o por Texto" />
            </span>
		</div>
	</ng-template>
	<ng-template pTemplate="header">
		<tr>
			<th>
				<div class="p-d-flex p-jc-between p-ai-center">
					Id
				</div>
			</th>
			<th>
				<div class="p-d-flex p-jc-between p-ai-center">
					Imagen
				</div>
			</th>
			<th>
				<div class="p-d-flex p-jc-between p-ai-center">
					Texto			
				</div>
			</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-image>
		<tr>
            <td>{{image.id}}</td>
            <td><img [src]="image.photo" [alt]="image.photo" width="100" class="shadow-4"/></td>
            <td>{{image.text}}</td>	
		</tr>
	</ng-template>
	<ng-template pTemplate="emptymessage">
		<tr>
			<td colspan="7">No se han encontrado resultados.</td>
		</tr>
	</ng-template>
</p-table>